input.search-bar-input,
select.select,
input.search-bar-input:focus,
form select.select:focus {
  width: 40%;
  height: 80%;
  background-color: rgb(236, 196, 169);
  box-shadow: none;
  font-family: "Cherry Cream Soda", cursive;
}

.searching-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

